.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #000;
  height: 45px;
  padding: 5px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.headers-list {
  text-align: left;
    background: #000;
}

.headers-list__single {
  display: inline-block;
    vertical-align: center;
    padding: 10px 15px;
    background: #000;
    margin: 5px 5px 5px 0px;
    color: #fff;
    text-decoration: none;
  }

  .headers-list__blue {
     display: inline-block;
     vertical-align: center;
     padding: 10px 15px;
     background: #000;
     margin: 5px 5px 5px 0px;
     color: #2196f3;
     text-decoration: none;
   }

   .headers-blue {
      display: inline-block;
      vertical-align: center;
      text-decoration: none;
      color: #2196f3;
      border-color: #2196f3;
      border-style:solid;
      border-width: thin;
      padding: 10px 65px;
      /*background: #fff;*/
      margin: 20px 60px 20px 60px;

    }
    .headers-list__red {
       display: inline-block;
       vertical-align: center;
       text-decoration: none;
       color: #f44336;
       border-color: #f44336;
       border-style:solid;
       border-width: thin;
       padding: 10px 45px;
       /*background: #fff;*/
       margin: 5px 5px 5px 0px;

     }
     .dinamic-navbar a {
     padding: 15px;
     color: #2196F3;
     text-decoration: none;
     margin-left: 13px;
   }

   .static-navbar a{
     color: #ffffff;
     text-decoration: none;
     padding: 15px;
     margin-left: 13px;
   }

   .navbar{
     background-color: #FFC107;
     color: #000000;
     font-size: 35px;
     padding: 15px;
     margin-left: 10px
   }

.midbody{
  text-align: left;
}
.splash-img{
  background: url(./images/landing-splash-bg.png) no-repeat center center fixed;
  background-size: cover;
  margin: 0;
  padding: 80px;
  color: white;
}

.seating-img{
  background: url(./images/category-seating.png) no-repeat center center fixed;
  background-size: cover;
  margin: 0;
  padding: 80px;
  color: white;
}

.tables-img{
  background: url(./images/category-tables.png) no-repeat center center fixed;
  background-size: cover;
  margin: 0;
  padding: 80px;
  color: white;
}

.desks-img{
  background: url(./images/category-desks.png) no-repeat center center fixed;
  background-size: cover;
  margin: 0;
  padding: 80px;
  color: white;
}

.storage-img{
  background: url(./images/category-storage.png) no-repeat center center fixed;
  background-size: cover;
  margin: 0;
  padding: 80px;
  color: white;
}

.titulo{
  font-size: 50px;
  text-align: left;
  padding-top: 30px;
  margin: 0;
}

.titulo1{
  font-size: 30px;
  margin-bottom: 0;
  text-align: left;
  padding-top: 0;
  margin: 0;
  color: #999999;
}

.titulo2{
  font-size: 50px;
  /*text-align: left;*/
  padding-top: 30px;
  margin: 0;
}

.forniList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px;
}

.product-id {
  width: 30%;
  border-color: #999999;
  border-style:solid;
  border-width: thin;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 5px;
}

.product-id img{
  width: 100%;
}

.product-id h3{
  font-size: 17px;
  width: 100%;
}

.product-id p{
  color: #999999;
  font-weight: bold;
}

.downbody-img {
  width: 100%;
  height: 100%
}

.item {
  display: inline-block;
  text-decoration: none;
  color: #f44336;
  border-color: #f44336;
  border-style:solid;
  border-width: thin;
  padding: 10px 45px;
  /*background: #fff;*/
  margin: 5px 5px 5px 0px;
  text-align: right;
}

.item2 {
  text-align: right;
}

.btn-cat-link{
  border: dodgerblue 1px solid;
  padding: 8px 16px;
  text-decoration: none;
  color: dodgerblue;
  margin: 12px;
}

.footer{
  font-family: 'Source Sans Pro',sans-serif;
  font-size: 15px;
  display: flex;
  flex-wrap: wrap;
  margin: 20px;
  justify-content: space-around;
}

.footer img{
  display:flex;
  width: 100%;
  padding: 320px;
  padding-top:30px;
  padding-bottom:30px;
}

.footer h3{
  margin-left: 40px;
  color: #F44336;
  margin-left: auto;
}

.company-footer a {
  display: flex;
  width: 33%;
  margin-left: 0;
  padding:5px;
  text-decoration: none;
}

.categories-footer a{
  display: flex;
  width: 33%;
  padding:5px;
  text-decoration: none;
  margin-left: 0;
}

.social-footer {
  padding:5px;
  text-decoration: none;
  margin-left: 0;
}

.social-footer i{
  padding: 5px;
  font-size: 20px;
  color: #000000;
}
